<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mlj.practicesrep">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <!-- 给基类设置config是不生效的-->
        <activity android:name=".configurationtest.BaseConfigurationActivity" />
        <activity
            android:name=".configurationtest.ConfigurationTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- :remote 包名+:remote 否则全局的名称为 指定词 单个词是不可以的 需要有个.  .com com不可以 -->
        <service
            android:name=".bindertest.server.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.docker.ipc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service> <!-- android:process=":remote" -->
        <activity android:name=".bindertest.client.BinderTestActivity" />
        <activity android:name=".tabhosttest.Tab3Activity" />
        <activity android:name=".tabhosttest.Tab2Activity" />
        <activity android:name=".tabhosttest.Tab1Activity" />
        <activity android:name=".tabhosttest.TabHostTestActivity" />
        <activity android:name=".includetest.IncludeTestActivity" />
        <activity android:name=".clickviewgroup.TestClickViewGroupActivity" />
        <activity android:name=".viewmainfun.TestViewMainFunsActivity" />
        <activity android:name=".overtransitionanim.TestOverAnimationActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".lottietest.LottieTestActivity" />
        <activity android:name=".scrollertest.ScrollerTestActivity" />
        <activity android:name=".touchevent.EventActivity" />
        <activity android:name=".mvppattern.MvpActivity" />
        <activity android:name=".player.PlayerActivity" />
        <activity android:name=".customdialog.CustomDialogActivity" />

        <receiver android:name=".broadcast.StaticReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcast.BroadCastActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- 先注册的先打开为首页 -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>