<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mlj.practicesrep">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--
android:label="@string/custom_permission_label"
        android:logo="@mipmap/leak_canary_icon"
        android:banner="@mipmap/leak_canary_icon" 测试看不到效果
    -->
    <permission
        android:name="com.mlj.practicesrep.permission.playerpermission"
        android:banner="@mipmap/leak_canary_icon"
        android:description="@string/custom_permission_describe"
        android:label="@string/custom_permission_label"
        android:logo="@mipmap/leak_canary_icon"
        android:protectionLevel="dangerous" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".MultiPointTestActivity"
            android:exported="false" />
        <activity
            android:name=".BeyondOuterTestActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollViewProTestActivity"
            android:exported="false" />
        <activity
            android:name=".PaintFunctionsTestActivity"
            android:exported="false" />
        <activity
            android:name=".SoundPoolActivity"
            android:exported="false" />
        <activity
            android:name=".DrawableTestActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyanimTestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RecyclerViewTestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FloatPermissionGuideActivity"
            android:exported="false" />
        <activity
            android:name=".FloatWidowTestActivity"
            android:exported="false" />
        <activity
            android:name=".FileProviderTestActivity"
            android:exported="false" />
        <activity
            android:name=".PageJumpDesActivity"
            android:exported="false" />
        <activity
            android:name=".PageJumpTestActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationTestActivity"
            android:exported="false" />
        <activity
            android:name=".testnovlenoedgescroll.TestNoEdgeScrollActivity"
            android:exported="false" />
        <activity
            android:name=".customviewexttest.CustomViewExtTestActivity"
            android:exported="false" />
        <activity
            android:name=".constraint.ConstraintTestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".webview.WebViewTestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".matrixtest.MatrixTestActivity"
            android:exported="false" />
        <activity
            android:name=".richtexttest.RichTextTestActivity"
            android:exported="false" />
        <activity
            android:name=".sonparnesviewtest.SonParentViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".viewpagesetcurrent.ViewPagerCurrentPageTestActivity"
            android:exported="false" />
        <activity
            android:name=".floatbtntest.AnotherTestActivity"
            android:exported="false" />
        <activity
            android:name=".floatbtntest.FloatBtnTestActivity"
            android:exported="false" />
        <activity
            android:name=".hooktest.HookTestActivity"
            android:exported="false" />
        <activity
            android:name=".translucentTest.TranslucentTopActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".translucentTest.TranslucentActivity"
            android:exported="false" />
        <activity android:name=".sqllite.SqlLiteTestTestActivity" />
        <activity android:name=".sqllite.SqlLiteTestTestActivity2" />
        <activity android:name=".intentservice.IntentServiceTestActivity" />
        <activity android:name=".blockcanary.BlockCanaryTestActivity" />
        <activity android:name=".leakcanary.LeakCanaryTestActivity" />
        <activity android:name=".nestedscrolltopattract.NestedScrollAndTopAttractActivity" />
        <activity android:name=".fragmentt.ViewpagerFragmentActivity" />
        <activity android:name=".fragmentt.FragmentTestActivity" />
        <activity
            android:name=".configurationtest.AnotherConfigurationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" /> <!-- 给基类设置config是不生效的 -->
        <activity android:name=".configurationtest.BaseConfigurationActivity" />
        <activity
            android:name=".configurationtest.ConfigurationTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" /> <!-- :remote 包名+:remote 否则全局的名称为 指定词 单个词是不可以的 需要有个.  .com com不可以 -->
        <service
            android:name=".bindertest.server.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.docker.ipc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service> <!-- android:process=":remote" -->
        <activity android:name=".bindertest.client.BinderTestActivity" />
        <activity android:name=".tabhosttest.Tab3Activity" />
        <activity android:name=".tabhosttest.Tab2Activity" />
        <activity android:name=".tabhosttest.Tab1Activity" />
        <activity android:name=".tabhosttest.TabHostTestActivity" />
        <activity android:name=".includetest.IncludeTestActivity" />
        <activity android:name=".clickviewgroup.TestClickViewGroupActivity" />
        <activity android:name=".viewmainfun.TestViewMainFunsActivity" />
        <activity android:name=".overtransitionanim.TestOverAnimationActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".lottietest.LottieTestActivity" />
        <activity android:name=".scrollertest.ScrollerTestActivity" />
        <activity android:name=".touchevent.EventActivity" />
        <activity android:name=".mvppattern.MvpActivity" /> <!-- 测试自定义权限 -->
        <activity
            android:name=".player.PlayerActivity"
            android:exported="true"
            android:permission="com.mlj.practicesrep.permission.playerpermission" />
        <activity android:name=".customdialog.CustomDialogActivity" />

        <receiver android:name=".broadcast.StaticReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcast.BroadCastActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- 先注册的先打开为首页 -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpage2setcurrent.ViewPager2CurrentPageTestActivity" />
        <activity android:name=".notificationtest.NotificationTestActivity" />
        <activity android:name=".pagejump.PageJumpTestActivity" />
        <activity android:name=".pagejump.PageJumpDesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="docker"
                    android:path="/mypath"
                    android:scheme="myscheme" />
            </intent-filter>
        </activity>
        <activity android:name=".floatwindowtest.FloatWidowTestActivity" />
        <activity
            android:name=".floatwindowtest.FloatPermissionGuideActivity"
            android:theme="@style/alertThemeActivity" />
        <activity android:name=".RecyclerViewTest.RecyclerViewTestActivity" />
        <activity android:name=".PropertyanimTest.PropertyanimTestActivity" />
        <activity android:name=".drawabletest.DrawableTestActivity" />
        <activity android:name=".soundPoolTest.SoundPoolActivity" />
        <activity android:name=".PaintFunctionsTest.PaintFunctionsTestActivity" />
        <activity android:name=".scrollviewprotest.ScrollViewProTestActivity" />
        <activity android:name=".beyondoutertest.BeyondOuterTestActivity" />
        <activity android:name=".multipointtest.MultiPointTestActivity" />

        <service android:name=".intentservice.IntentServiceTestActivity$CustomIntentService" />
    </application>

</manifest>